<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Registro</title>
    <!-- Bootstrap -->
    <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

     <!-- Optional theme -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

     <!-- Latest compiled and minified JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script><!-- Bootstrap -->
        <!-- Latest compiled and minified CSS -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">

     <!-- Optional theme -->
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

     <!-- Latest compiled and minified JavaScript -->
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
</head>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" 
                    data-toggle="collapse" 
                    data-target="#contenido-plegable">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <span class="navbar-brand" ></span>
        </div>
        <div class="collapse navbar-collapse" id="contenido-plegable">
            <ul class="nav navbar-nav navbar-left">
<li><a ng-click="VPrincipal0()">
  Regresar</a></li>

            </ul>
            <ul class="nav navbar-nav navbar-right">
<li class="navbar-text" ng-show="usuario.nombre" ng-bind="usuario.nombre"></li>
            </ul>
        </div>
    </div>
</nav>
    
    <div class = "col-lg-offset-4">
    <form name="fPersonaForm" ng-submit="ARegistro1(fPersonaForm.$valid)" novalidate>
            <div class="form-group" ng-class="{ 'has-error' :  fPersonaSubmitted && fPersonaForm.nombres.$invalid && fPersonaForm.nombres.$pristine && fPersonaSubmitted}">
              <label for="fPersona_nombres" class="col-lg-2">Nombres</label>
                <div class="col-lg-3 input-group">
                <input id="fPersona_nombres" type="text" name="nombres" class="form-control" ng-model="fPersona.nombres" placeholder="Nombres"  ng-minlength="2" ng-maxlength="128" same-as="fPersona.Nombres"/>
                </div>
                <p ng-show="fPersonaSubmitted && fPersonaForm.nombres.$invalid" class="help-block">Error en campo Nombres.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' :  fPersonaSubmitted && fPersonaForm.apellidos.$invalid && fPersonaForm.apellidos.$pristine && fPersonaSubmitted}">
              <label for="fPersona_apellidos" class="col-lg-2">Apellidos</label>
                <div class="col-lg-3 input-group">
                <input id="fPersona_apellidos" type="text" name="apellidos" class="form-control" ng-model="fPersona.apellidos" placeholder="Apellidos"  ng-minlength="2" ng-maxlength="128" same-as="fPersona.Apellidos"/>
                </div>
                <p ng-show="fPersonaSubmitted && fPersonaForm.apellidos.$invalid" class="help-block">Error en campo Apellidos.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' :  fPersonaSubmitted && fPersonaForm.nickname.$invalid && fPersonaForm.nickname.$pristine && fPersonaSubmitted}">
              <label for="fPersona_nickname" class="col-lg-2">Nickname</label>
                <div class="col-lg-3 input-group">
                <input id="fPersona_nickname" type="text" name="nickname" class="form-control" ng-model="fPersona.nickname" placeholder="Nickname" required ng-minlength="2" ng-maxlength="128" same-as="fPersona.Nickname"/>
                </div>
                <p ng-show="fPersonaSubmitted && fPersonaForm.nickname.$invalid" class="help-block">Error en campo Nickname.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' :  fPersonaSubmitted && fPersonaForm.contrase_a.$invalid && fPersonaForm.contrase_a.$pristine && fPersonaSubmitted}">
              <label for="fPersona_contrase_a" class="col-lg-2">Contraseña</label>
                <div class="col-lg-3 input-group">
                <input id="fPersona_contrase_a" type="password" name="contrase_a" class="form-control" ng-model="fPersona.contrase_a" placeholder="Contraseña" required ng-minlength="2" ng-maxlength="16" same-as="fPersona.Contraseña "/>
                </div>
                <p ng-show="fPersonaSubmitted && fPersonaForm.contrase_a.$invalid" class="help-block">Error en campo Contraseña.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' :  fPersonaSubmitted && fPersonaForm.edad.$invalid && fPersonaForm.edad.$pristine && fPersonaSubmitted}">
              <label for="fPersona_edad" class="col-lg-2">Edad</label>
                <div class="col-lg-3 input-group">
                <input id="fPersona_edad" type="number" name="edad" class="form-control" ng-model="fPersona.edad" placeholder="Edad" ng-minlength="1" ng-maxlength="3" same-as="fPersona.Edad"/></div>
                <p ng-show="fPersonaSubmitted && fPersonaForm.edad.$invalid" class="help-block">Error en campo Edad.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' :  fPersonaSubmitted && fPersonaForm.telefono.$invalid && fPersonaForm.telefono.$pristine && fPersonaSubmitted}">
                <label for="fPersona_telefono" class="col-lg-2">Telefono</label>
                  <div class="col-lg-3 input-group">
                  <input id="fPersona_telefono" type="text" name="telefono" class="form-control" ng-model="fPersona.telefono" placeholder="Telefono" required same-as="fPersona.Telefono"/>
                  </div>
                  <p ng-show="fPersonaSubmitted && fPersonaForm.telefono.$invalid" class="help-block">Error en campo Telefono.</p>
            </div>

            <div class="form-group" ng-class="{ 'has-error' :  fPersonaSubmitted && fPersonaForm.correo.$invalid && fPersonaForm.correo.$pristine && fPersonaSubmitted}">
                <label for="fPersona_correo" class="col-lg-2">Correo</label>
                  <div class="col-lg-3 input-group">
                  <input id="fPersona_correo" type="email" name="correo" class="form-control" ng-model="fPersona.correo" placeholder="Correo" required ng-pattern="/[\w-\.]{3,}@([\w-]{2,}\.)*([\w-]{2,}\.)[\w-]{2,4}/"/>
                  </div>
                  <p ng-show="fPersonaSubmitted && fPersonaForm.correo.$invalid" class="help-block">Error en campo Correo.</p>
            </div>

        <div class = "col-lg-2 col-lg-offset-1">
        <button type="submit" class="btn btn-perso btn-lg btn-block col-lg-offset-3" >
            <span class="glyphicon glyphicon-flash"></span>Registro
        </button>
        </div>

    </form>
    </div>
    <hr />


<div id="right"></div>